#main-section {
  background-attachment: scroll;
  background-image: url("/images/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 1000px;
  color: white;
}

#planet-details {
  margin-top: 50px;
}

legend {
  color: white;
}